#crosshair {
    background-image: url('project://database/Assets/Files/Textures/Primatives/Circle.png?fileID=2800000&guid=d4275b08929e08c439748f61edb65eab&type=3#Circle');
    width: 2px;
    height: 2px;
    opacity: 0.6;
}

#looking-at .active {
}
