<?xml version="1.0"?>
<PersistantSaveData xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xResolution>1280</xResolution>
  <yResolution>720</yResolution>
  <refreshRate>60</refreshRate>
  <quality>0</quality>
  <displayMode>3</displayMode>
  <masterVolume>1</masterVolume>
  <sfxVolume>1</sfxVolume>
  <musicVolume>1</musicVolume>
  <fieldOfView>70</fieldOfView>
  <whiteNoiseVolume>1</whiteNoiseVolume>
  <mouseSensitivity>0.3</mouseSensitivity>
  <gamepadSensitivityX>0.3</gamepadSensitivityX>
  <gamepadSensitivityY>0.3</gamepadSensitivityY>
  <togglePiss>true</togglePiss>
</PersistantSaveData>